header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: aqua;
}
.logo{
  font-weight: 700;
  font-size: 2rem;
}

.menu ul{
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

main{
  display:flex;
}

.body{
  margin: 2rem 3rem;
  padding: 2rem 3rem;
  background-color: aquamarine;
}

.aside{
  background-color: aquamarine;
  padding: 2rem;
  margin: 2rem;
}

aside{
  box-shadow: 0 0 1rem;
  padding: 0.5rem;
  margin: 2rem;
}

footer{
  background-color: black;
  color: white;
  padding: 0.5rem;
  text-align: center;
}